
  h1 {
    position: absolute;
    margin-top: 150px;
    margin-left: 30px;
  }

  h3 {
    position: absolute;
    margin-top: 110px;
    margin-left: 8px;
  }
  
  .bar-graph-vertical {
    margin-top: 200px;
    max-width: 680px;
    margin-left: 40%;
  }
  
  .bar-graph-vertical .bar-container {
    float: left;
    height: 150px;
    margin-right: 8px;
    position: relative;
    text-align: center;
    width: 40px;
  }
  
  .bar-graph-vertical .bar {
    border-radius: 3px;
    bottom: 40px;
    position: absolute;
    width: 40px;
  }
  
  .bar-graph-two .bar::after {
    -webkit-animation: fade-in-text 2.2s 0.1s forwards;
    -moz-animation: fade-in-text 2.2s 0.1s forwards;
    animation: fade-in-text 2.2s 0.1s forwards;
    color: #fff;
    content: attr(data-percentage);
    font-weight: 700;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    text-align: left;
    top: 24px;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  
  .bar-graph-two .bar-one .bar {
    background-color: grey;
    -webkit-animation: show-bar-one-vertical 1.2s 0.1s forwards;
    -moz-animation: show-bar-one-vertical 1.2s 0.1s forwards;
    animation: show-bar-one-vertical 1.2s 0.1s forwards;
  }
  
  .bar-graph-two .bar-two .bar {
    background-color: grey;
    -webkit-animation: show-bar-two-vertical 1.2s 0.2s forwards;
    -moz-animation: show-bar-two-vertical 1.2s 0.2s forwards;
    animation: show-bar-two-vertical 1.2s 0.2s forwards;
  }
  
  .bar-graph-two .bar-three .bar {
    background-color: grey;
    -webkit-animation: show-bar-three-vertical 1.2s 0.3s forwards;
    -moz-animation: show-bar-three-vertical 1.2s 0.3s forwards;
    animation: show-bar-three-vertical 1.2s 0.3s forwards;
  }
  
  /* Bar Graph Vertical Animations */
  @keyframes show-bar-one-vertical {
    0% {
      height: 0;
    }
    100% {
      height: 30%;
    }
  }
  
  @keyframes show-bar-two-vertical {
    0% {
      height: 0;
    }
    100% {
      height: 40%;
    }
  }
  
  @keyframes show-bar-three-vertical {
    0% {
      height: 0;
    }
    100% {
      height: 80%;
    }
  }
  